<app-nav-bar />
<div class="py-2 md:py-6 lg:py-8 px-4 lg:px-16 xl:px-24 hover:cursor-default ">
  <app-sales />
  <div class=" text-center italic text-4xl my-10 hover:scale-110 transition-transform hover:tracking-wide">
    "Discover new <p class="font-serif font-bold inline-block">music</p>
    <br>
    discover a new <p class="font-serif font-bold inline-block">world</p>"
  </div>
  <app-genres />
</div>
<div>
  <h1 class="py-5 lg:py-16 bg-stone-300 text-black text-3xl font-medium text-center">Star Store, otherworldly experiences</h1>
</div>
