
<div class="p-3 lg:px-12 items-center flex shrink bg-stone-300 text-black space-x-2 md:space-x-16 lg:space-x-48">
  <div class="shrink flex">
    <img class="size-10" src="images/logo-sm.png" alt="Star Store logo">
  </div>
  <div class="grow">
    <input class="focus:outline focus:outline-stone-600 focus:outline-2 w-full text-xl px-3 lg:px-6 py-2 rounded-full" type="text" name="search" id="search" placeholder="Serarch a album">
  </div>
  <div class="shrink">
    <div class="flex flex-row space-x-2 md:space-x-4 lg:space-x-6 xl:space-x-8">
      <img class="size-10 cursor-pointer" src="images/user.png" alt="user">
      <img class="size-10 cursor-pointer" src="images/shopping-cart.png" alt="shopping cart">
    </div>
  </div>
</div>
